.market{
	
	margin:0;
	padding:0;
	
}

.market ul{
	
	
	
	width:600px;
	height:150px;
	
	
}

.market ul li{
	
	list-style:none;
	width:120px;
	height:120px;
	background:#000;
	transform:rotate(45deg);
	transition:.5s;
	
	
}

.market ul li.item1{
	top:0;
	left:0;
	
}
.market ul li.item2{
	bottom:0;
	left:25%;
	
}.market ul li.item3{
	top:0;
	left:50%;
	
}.market ul li.item4{
	bottom:0;
	left:75%;
	
}.market ul li.item5{
	top:0;
	left:100%;
	
}.market ul li.item6{
	bottom:0;
	left:25%;
	
}.market ul li.item7{
	top:0;
	left:0;
	
}.market ul li.item8{
	bottom:0;
	left:25%;
	
	
}